  <header>
  <img width="200" hight="200" src="{{site.authorimg}}" alt="{{site.author}}"/>
  <h1 >{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <p class="affil"><a href="{{site.uniurl}}">{{site.uni}}</a></p>
  <ul class="extlinks">
<!--    <li><a href="https://stackexchange.com/{{site.stackex}}" title="Stack Exchange" target="_blank"><i class="fa-brands fa-stack-exchange"></i></a></li>
    <li><a href="https://bsky.app/{{site.bluesky}}" title="Bluesky" target="_blank"><i class="fa-brands fa-bluesky"></i></a></li> -->
    <li><a href="https://orcid.org/{{site.orcid}}" title="ORCID" target="_blank"><i class="fa-brands fa-orcid"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://dblp.uni-trier.de/pers/{{site.dblp}}" title="DBLP" target="_blank"><i class="fa fa-book"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" title="Google scholar" target="_blank"><i class="fa-brands fa-google-scholar"></i></a></li>
<!--    <li><a href="https://keybase.io/{{site.keybase}}" title="Keybase" target="_blank"><i class="fa-brands fa-keybase"></i></a></li> -->
     <li><a href="mailto:hanzlik@cispa.de" title="mail"><i class="fa fa-envelope"></i></a></li>
  </ul>
</header>
